.calendar {
  width: 74px;
  height: 44px;
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;

  background-color: transparent;
  color: #52555f;
}

@media screen and (min-width: 768px) {
  .calendar {
    width: 106px;
  }
}
