@media screen and (min-width: 768px) {
  .tableBodyThamb {
    width: 624px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f5f6fb;
    border-left: 2px solid #f5f6fb;
  }

  .tableBodyThambFlex {
    display: flex;
  }

  .tableBodyThamb::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f6fb;
  }

  .tableBodyThamb::-webkit-scrollbar-thumb {
    height: 130px;
    border-radius: 2px;
    background-color: #ff751d;
  }

  .header {
    display: flex;
  }

  .dateHeader,
  .descriptionHeader,
  .categoriesHeader,
  .sumHeader,
  .deleteHeader {
    display: flex;
    align-items: center;
    background-color: #f5f6fb;
    height: 40px;
    border-bottom: 2px solid #fff;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .dateItem,
  .descriptionItem,
  .categoriesItem,
  .sumItemExpense,
  .sumItemIncome,
  .deleteItem {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border-bottom: 2px solid #f5f6fb;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .categoriesHeader,
  .categoriesItem,
  .deleteItem {
    justify-content: center;
  }

  .sumHeader,
  .sumItemExpense,
  .sumItemIncome {
    justify-content: end;
  }

  .sumHeader {
    padding-right: 4px;
  }

  .sumItemExpense {
    font-weight: 700;
    color: #e7192e;
  }

  .sumItemIncome {
    font-weight: 700;
    color: #407946;
  }

  .dateItem {
    padding-left: 20px;
  }

  .date,
  .dateHeader {
    width: 130px;
  }

  .dateHeader {
    padding-left: 20px;
    border-radius: 16px 0 0 0;
  }

  .description,
  .descriptionHeader {
    width: 175px;
  }

  .categories,
  .categoriesHeader {
    width: 120px;
    text-align: center;
  }

  .sum,
  .sumHeader {
    width: 104px;
    text-align: right;
  }

  .delete,
  .deleteHeader {
    width: 95px;
    text-align: center;
  }

  .deleteHeader {
    border-radius: 0 16px 0 0;
  }

  .deleteBtn {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    margin: 0 auto;
  }

  .deleteBtn:hover,
  .deleteBtn:focus {
    background-color: #f5f6fb;
    border-radius: 50%;
  }

  .errorMsg {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 624px;
    height: 200px;
    color: rgba(82, 85, 95, 0.3);
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .tableBodyThamb {
    width: 746px;
  }

  .dateHeader {
    padding-left: 28px;
  }

  .description,
  .descriptionHeader {
    width: 223px;
  }

  .descriptionHeader {
    padding-left: 5px;
  }

  .sum,
  .sumHeader {
    width: 154px;
  }

  .sumHeader {
    padding-right: 0;
    padding-right: 30px;
  }

  .delete,
  .deleteHeader {
    width: 119px;
  }

  .errorMsg {
    width: 746px;
  }
}

/* .table {
  height: 382px;
  width: 624px;
  background-color: #f5f6fb;
  border-radius: 16px 16px 0 0;
}

.tableBody {
  display: block;
  height: 342px;
  width: 624px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 400;
}

.tableBody::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f6fb;
}
.tableBody::-webkit-scrollbar-thumb {
  height: 130px;
  border-radius: 2px;
  background-color: #ff751d;
}

@media screen and (min-width: 1280px) {
  .tableThamb {
    height: 400px;
    width: 746px;
    background-color: #f5f6fb;
    border-radius: 16px;
  }
  .tableBody {
    height: 360px;
    width: 746px;
  }
}

.table {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-collapse: collapse;
}

.tableHeader {
  height: 40px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .tableHeader {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
  }
}

.tableRow {
  display: block;
  height: 40px;
  background-color: #fff;
  color: #52555f;
  font-weight: 400;
  border: none;
}

@media screen and (min-width: 768px) {
  .tableRow {
    display: flex;
    align-items: center;
    width: 624px;
    border-bottom: 2px solid #f5f6fb;
    border-left: 2px solid #f5f6fb;
    border-right: 2px solid #f5f6fb;
  }
}

@media screen and (min-width: 1280px) {
  .tableRow {
    width: 746px;
  }
}

.tableCell,
.tableCellSum,
.tableHeaderCell {
  text-align: left;
  padding: 0;
}

.tableCell:first-child,
.tableHeaderCell:first-child {
  width: 130px;
  padding-left: 20px;
}

.tableHeaderCell:first-child {
  padding-left: 20px;
}

.tableCell:nth-child(2),
.tableHeaderCell:nth-child(2) {
  width: 175px;
  padding-right: 7px;
}

.tableCell:nth-child(3),
.tableHeaderCell:nth-child(3) {
  width: 125px;
  text-align: center;
}

.tableCellSumExpense,
.tableCellSumIncome,
.tableHeaderCell:nth-child(4) {
  width: 104px;
  text-align: right;
  margin-right: 30px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.tableCellSumExpense {
  color: #e7192e;
}

.tableCellSumIncome {
  color: #407946;
}

@media screen and (min-width: 1280px) {
  .tableCell:nth-child(2),
  .tableHeaderCell:nth-child(2) {
    width: 223px;
    padding-right: 35px;
  }

  .tableHeaderCell:first-child {
    padding-left: 28px;
  }

  .tableCell:nth-child(3),
  .tableHeaderCell:nth-child(3) {
    width: 140px;
    padding-right: 15px;
    text-align: center;
  }

  .tableCellSumExpense,
  .tableCellSumIncome,
  .tableHeaderCell:nth-child(4) {
    width: 116px;
    text-align: center;
    margin-right: 43px;
  }
}

.deleteBtn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  margin: 0 auto;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #f5f6fb;
  border-radius: 50%;
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  color: rgba(82, 85, 95, 0.3);
  font-size: 18px;
  font-weight: 500;
} */
