/* .tableThamb {
  height: 130px;
  width: 280px;
  
  background-color: transparent;
  border: none;
}

.tableBody {
  height: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
} */

.tableThamb {
  height: 382px;
  width: 624px;
  background-color: #f5f6fb;
  border-radius: 16px 16px 0 0;
}

.tableBody {
  height: 342px;
  width: 624px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 400;
}

.tableBody::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f6fb;
}
.tableBody::-webkit-scrollbar-thumb {
  height: 130px;
  border-radius: 2px;
  background-color: #ff751d;
}

@media screen and (min-width: 1280px) {
  .tableThamb {
    height: 400px;
    width: 746px;
    background-color: #f5f6fb;
    border-radius: 16px;
  }
  .tableBody {
    height: 360px;
    width: 746px;
  }
}

.table {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-collapse: collapse;
}

.tableHeader {
  height: 40px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .tableHeader {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
  }
}

.tableRow {
  display: block;
  height: 40px;
  background-color: #fff;
  color: #52555f;
  font-weight: 400;
  border: none;
}

@media screen and (min-width: 768px) {
  .tableRow {
    display: flex;
    align-items: center;
    width: 624px;
    border-bottom: 2px solid #f5f6fb;
    border-left: 2px solid #f5f6fb;
    border-right: 2px solid #f5f6fb;
  }
}

@media screen and (min-width: 1280px) {
  .tableRow {
    width: 746px;
  }
}

.tableCell,
.tableCellSum,
.tableHeaderCell {
  text-align: left;
  padding: 0;
}

.tableCell:first-child,
.tableHeaderCell:first-child {
  width: 130px;
  padding-left: 20px;
}

.tableHeaderCell:first-child {
  padding-left: 20px;
}

.tableCell:nth-child(2),
.tableHeaderCell:nth-child(2) {
  width: 175px;
  padding-right: 7px;
}

.tableCell:nth-child(3),
.tableHeaderCell:nth-child(3) {
  width: 125px;
  text-align: center;
}

.tableCellSumExpense,
.tableCellSumIncome,
.tableHeaderCell:nth-child(4) {
  width: 104px;
  text-align: right;
  margin-right: 30px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.tableCellSumExpense {
  color: #e7192e;
}

.tableCellSumIncome {
  color: #407946;
}

@media screen and (min-width: 1280px) {
  .tableCell:nth-child(2),
  .tableHeaderCell:nth-child(2) {
    width: 223px;
    padding-right: 35px;
  }

  .tableHeaderCell:first-child {
    padding-left: 28px;
  }

  .tableCell:nth-child(3),
  .tableHeaderCell:nth-child(3) {
    width: 140px;
    padding-right: 15px;
    text-align: center;
  }

  .tableCellSumExpense,
  .tableCellSumIncome,
  .tableHeaderCell:nth-child(4) {
    width: 116px;
    text-align: center;
    margin-right: 43px;
  }
}

.deleteBtn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  margin: 0 auto;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #f5f6fb;
  border-radius: 50%;
}

.text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: rgba(82, 85, 95, 0.3);
  font-size: 18px;
  font-weight: 500;
}
