.balance form div {
  display: block;
  text-align: center;
}

.balance input {
  border-radius: 22px;
}

.balance form div button {
  display: none;
}

.balance form {
  margin-bottom: 32px;
}

.container {
  padding-top: 22px;
}

@media screen and (min-width: 772px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 32px;
  }

  .balance {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .balance form {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .balance form div button {
    display: inline-block;
  }
}
