.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0.5em 1.5em;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 5em;
}
