.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
