.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.6);
  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  height: 194px;

  background-color: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  padding: 20px;
  background-color: #f8f8f7;
}

.closeModalBtn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* z-index: 999; */
}

.text {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-gray);
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  width: 125px;
  height: 44px;
  margin-right: 15px;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  cursor: pointer;
  background-color: transparent;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-color-gray);
  box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
}

.btn:hover,
.btn:focus {
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
}
