.section {
  display: block;
  margin: 0 auto;
  width: 280px;
  margin-top: 40px;
  border: 1px solid red;
}

@media screen and (min-width: 772px) {
  .section {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 1098px;
  }
}
