.container {
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 772px) {
  .container {
    margin-bottom: 0px;
  }
}

/* @media screen and (min-width: 1280px) {
  .container {
    margin-left: 210px;
  }
} */

.period {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
  color: #52555f;
  opacity: 70%;
}

.periodWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  width: 9em;
  justify-content: center;
}

.year {
  margin-left: 5px;
}

.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  /* padding: 0.5em 1em; */
  padding: 5px;
}
