.forma {
  /* display: flex;
  flex-direction: column; */
  border-radius: 30px;
  background-color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* text-align: center; */
  letter-spacing: 0.04em;

  /* height: 500px;
  */
  color: #52555f;
  padding-left: 20px;
  padding-right: 20px;
}

.GoogleEmblem {
  display: flex;
  width: 18px;
  align-items: baseline;
  justify-content: center;
}
.GoogleBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 116px;
  height: 44px;
  background: #f5f6fb;
  border-radius: 16px;
  color: #52555f;

  margin: 0 auto;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.topGoogleRegTextspan {
  padding-left: 3px;
}
.topTextDiv {
  padding-top: 40px;
  flex-direction: column;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.buttonGoogleRegText {
  margin-top: 32px;
}

.emailLabel {
  display: flex;
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: #000000;
}

.passwordLabel {
  display: flex;
  padding-top: 20px;
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: #000000;
}

.input {
  width: 240px;
  height: 52px;
  padding: 17px;
  background: #f6f7fb;
  border: none;
  border-radius: 30px;
  margin-bottom: 5px;
}

.error {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: red;
  text-align: center;
}

.divButton {
  display: flex;
  margin-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.Btn {
  border: none;
  width: 116px;
  height: 44px;
  background: #f5f6fb;
  border-radius: 16px;
  color: #52555f;
}

.Btn:focus {
  background: #ff751d;
  color: #ffffff;
}

.btn:hover {
  background: #ff751d;
  color: #ffffff;
}

.textunderLogo {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #52555f;
  padding-right: 100px;
  margin: 0 auto;
}
.logo {
  width: 183px;
}

.logoDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 86px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .textunderLogo {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
  }
  .logo {
    width: 306px;
  }
  .forma {
    width: 426px;
    margin: 0 auto;
  }

  .loginDiv {
    margin-left: 170px;
    margin-right: 170px;
  }

  .topGoogleRegTextspan {
    display: inline-flex;
  }
  .topTextDiv {
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
  }
  .forma {
    padding-left: 84px;
    padding-right: 84px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    width: 377px;
  }
  .loginDiv {
    padding-top: 117px;
    display: flex;
    align-items: center;
  }
  .logoDiv {
    padding-left: 107px;
    margin-right: 157px;
  }
  .loginDiv {
    padding: 0;
    margin: 0;
    padding-top: 117px;
  }
}
