.formContainer {
  position: relative;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}

.reportContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .reportContainer {
    margin-left: 251px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .reportContainer {
    margin-left: 298px;
  }
}

.reportLink {
  padding: 0;
  margin-right: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
  text-decoration: none;
  background-color: transparent;
  border: none;
}
